
#todoList{
 margin-left: 40%;
}
#searchTxt{
   margin-left: 40%;

}
#addTodoTxt{
   margin-left: 40%;

}
body{
  background-image: url("background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-origin: border-box;
}
