
#addTodo{
  margin-top: 10px;
}
body{
  background-image: url("background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-origin: border-box;
}

.todo_items{

  align-content: center;
  position:relative;
}

#searchTxt{
   margin-left: 40%;

}
